@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

:root {
  --background: hsl(233, 47%, 7%);
  --backcard: hsl(244, 38%, 16%);
  --softviolet: hsl(277, 64%, 61%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

main {
  /* max-width: 100%; */
  min-height: 100vh;
  background-color: var(--background);
  display: flex;
  align-items: center;
}

.container {
  background-color: var(--backcard);
  color: #fff;
  margin: 0 auto;
  max-width: 100rem;
  max-height: 40rem;
  display: grid;
  grid-template-columns: 50% 50%;
  border-radius: 1.5rem;
  overflow: hidden;
}
.description {
  margin: 6rem;
}
.title {
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  margin-bottom: 2.8rem;
  /* width: 95%; */
}
.title span {
  color: var(--softviolet);
}
.text {
  font-family: "Lexend Deca", sans-serif;
  font-size: 14px;
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.4;
  margin-bottom: 5rem;
  width: 80%;
}
.stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 0.8rem;
  justify-items: stretch;
  color: hsla(0, 0%, 100%, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 400;
}
.value {
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #fff;
}

.image {
  background-image: linear-gradient(
      rgba(88, 29, 124, 0.8),
      rgba(88, 29, 124, 0.8)
    ),
    url(images/image-header-desktop.jpg);
  /* background-repeat: no-repeat; */
}
